.body__arquitectura {
  background-image: url(../imagenes/arquitectura2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .title--hijo {
    text-align: center;
    padding: 20px;
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.8);
  }

  .frase--hijo {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  .frase--hijo-1 {
    font-size: 1.8rem;
  }

  .frase--hijo-2 {
    font-style: italic;
    font-size: 1.3rem;
  }
}

.grid__arquitectura--padre {
  @include grid;
  grid-template-areas:
    "ele1 ele1 ele6 ele2"
    "ele3 ele5 ele4 ele2"
    "ele3 ele5 ele7 ele7";

  .grid__img {
    @include grid__img;
  }

  .item--1 {
    grid-area: ele1;
  }

  .item--2 {
    grid-area: ele2;
  }

  .item--3 {
    grid-area: ele3;
  }

  .item--4 {
    grid-area: ele4;
  }

  .item--5 {
    grid-area: ele5;
  }

  .item--6 {
    grid-area: ele6;
  }

  .item--7 {
    grid-area: ele7;
  }
}
