.body {
  background-image: url(../imagenes/home1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 3rem;
}

.name__container {
  text-align: center;
  color: #000;
  opacity: 0.9;
  padding: 2.5rem;
  transition: 1.5s;
}

.name {
  font-size: 6.3rem;
  font-weight: normal;
  opacity: 1;
}

.name__container:hover {
  color: #c69b7b;
  opacity: 0.8;

  cursor: default;
}

.photographer__container {
  text-align: center;
  color: #000;
  opacity: 0.9;
  padding: 2.5rem;
  transition: 1.5s;
}

.photographer {
  font-size: 5.3rem;
  font-weight: normal;
  opacity: 1;
}

.photographer__container:hover {
  color: #78938a;
  opacity: 0.8;

  cursor: default;
}

.paragraph__container {
  text-align: center;
  padding: 2.5rem;
  color: #000;
  opacity: 0.9;
  transition: 1.5s;
}

.paragraph {
  font-size: 4.3rem;
  opacity: 1;
}

.paragraph__container:hover {
  color: #fff;
  opacity: 0.9;
  cursor: default;
}

.paragraph__writter {
  opacity: 0.8;

  font-size: 2rem;
  font-style: italic;
  margin-top: 1rem;
}
